<a href="https://colab.research.google.com/github/Kate5-7-2021/Kate_INFO5731_Spring2021/blob/main/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (9/2/2020, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [1]:
text = 'This is my first exercise'     # string
print(len(text))                       # length of the string

25

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [6]:
str = 'amazing life'             #define string
def char_frequency(str):         #define frequency of the char(the result would be the frequency of the characters)
  dict = {}                 
  for n in str:                  #any character in string 
    keys = dict.keys()           #dictionary keys are item in string 
    if n in keys:
      dict[n] += 1               #if characters are repeated  
    else:
      dict[n] = 1                #if characters are not repeated 
  return dict                    #return is used to find the frequency of the repeated characters
print(char_frequency(str))

{'a': 2, 'm': 1, 'z': 1, 'i': 2, 'n': 1, 'g': 1, ' ': 1, 'l': 1, 'f': 1, 'e': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [41]:
a = [1,3,5,7,9]    #define list
print(sum(a))      #calculate sum of the items in the list

25

In [42]:
a = sum([1,3,5,7,9]) #define sum of the item in the list
print(a)             #print sum

25

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [18]:
str = 'momentum'                     #define string
def change_char(str):
  char = str[0]                      #identify the first char
  str = str.replace(char, '$')
  str = char + str[1:]               #start from the second char to search
  return str                         #return str to find other charts if there is any in the string        
print(change_char(str))

mo$entu$

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [49]:
a = input('Enter a: ')                    #define the variables a & b
b = input('Enter b: ')
S=3.14 * (1 + float(a) / float(b))**3     #apply the operations
print(S)

Enter a: 7
Enter b: 2
286.1325

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [24]:
dic1 = {1:10,2:20}                           #define each dictionary
dic2 = {3:30,4:40}
dic3 = {5:50,6:60}
dic_new = {**dic1, **dic2, **dic3 }          #concatenate dictionaries
print(dic_new)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [25]:
dic1 = {'B':'blue','R':'red'}                #define each dictionary
dic2 = {'Y':'yellow'}
dic3 = {'P':'purple','G':'green','W':'white'}
dic_new = {**dic1, **dic2, **dic3 }          #concatenate dictionaries
print(dic_new)

{'B': 'blue', 'R': 'red', 'Y': 'yellow', 'P': 'purple', 'G': 'green', 'W': 'white'}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [22]:
x= 'yellow'                                                 # one way to search if the item is exist in tuple
newtuple = ('red', 'green', 'blue', 'orange', 'pink')
if x in newtuple:
  print('Yes,',x,'is in the color tuple')
else: 
  print('No,',x,'is not in the color tuple')

No, yellow is not in the color tuple

In [36]:
newtuple = ('red', 'green', 'blue', 'orange', 'pink')        # another way is to define the specific color in the statements
if 'yellow'in newtuple:
  print("Yes,'yellow' is in the color tuple")
else:
  print("No,'yellow' is not in the color tuple")

No,'yellow' is not in the color tuple

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [40]:
x = max({94, 2, 5, 11, 43, 16})
y = min({94, 2, 5, 11, 43, 16})
print('Maximun in this set is',x)
print('Minimun in this set is',y)

Maximun in this set is 94
Minimun in this set is 2

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [7]:
studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

pieces = 5                               #divided the list to 5 sublist, but the list is not randomly divided
a =float(len(studnet_list))/pieces
sublist= [studnet_list[int(a*i):int(a*(i+1))]for i in range(pieces)]
print(sublist)

[['vmb0067', 'pc0353', 'snd0097', 'yye0005'], ['sg0940', 'bk0301', 'rak0120', 'rrk0058'], ['spk0057', 'vl0135', 'nm0547', 'pn0159', 'msp0174'], ['dd0420', 'ds0761', 'rs0850', 'ss1995'], ['at0739', 'at0768', 'mv0299', 'tv0119', 'dy0091']]

In [17]:
studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']
import numpy as np
import random                                  #divided the list to 5 sublists- it is not randomely
sublists = np.array_split(studnet_list, 5)
for array in sublist:
  print(list(array))

['vmb0067', 'pc0353', 'snd0097', 'yye0005']
['sg0940', 'bk0301', 'rak0120', 'rrk0058']
['spk0057', 'vl0135', 'nm0547', 'pn0159', 'msp0174']
['dd0420', 'ds0761', 'rs0850', 'ss1995']
['at0739', 'at0768', 'mv0299', 'tv0119', 'dy0091']